In [29]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import scipy
import numpy as np
import seaborn as sns

Objetivos do Script:

Esse script tem como objetivo ler os dados que foram capturados da nossa amostra piloto e realizar alguns estudos em cima desses dados. 

Os 6 primeiros tópicos que eu separei abaixo são utilizados na grande maioria dos scripts de tratamento de dados desse estudo. 
Deixei padronizado para que seja possivel tratar simulações com um dispositivo ou vários.

Sumário:
  - Leitura dos dados
  - Separar publicações e confirmação de entrega por dispositivo simulado.
  - Criação de um dataframe com informações capturadas. 
  - Medidas de tendência centrar por dispositivo
  - Medidas de tendência centrar de todos os dispositivos.
  - Gráfico de dispersão da amostra.
  - Calculo do tamanho da amostra.

Como estamos trabalhando com uma amostra piloto temos como objetivo calcular o tamanho das amostras isso será realizado na ultima parte desse script.

In [30]:
data = pd.read_csv("./data.csv")
ports = data["Source Port"].unique()
ports = ports[ports !=1883]
data

,No.,Time,Source,Destination,Protocol,Length,Source Port,Message Identifier,Destination Port,Info
0,213,19.166036,192.168.15.8,130.185.238.170,MQTT,68,55897,NaN,1883,Ping Request
1,214,19.252044,130.185.238.170,192.168.15.8,MQTT,68,1883,NaN,55897,Ping Response
2,243,20.865097,192.168.15.8,130.185.238.170,MQTT,68,45035,NaN,1883,Ping Request
3,245,20.945240,130.185.238.170,192.168.15.8,MQTT,68,1883,NaN,45035,Ping Response
4,247,21.004982,192.168.15.8,130.185.238.170,MQTT,68,58693,NaN,1883,Ping Request
...,...,...,...,...,...,...,...,...,...,...
12525,39244,806.981741,130.185.238.170,192.168.15.8,MQTT,337,1883,NaN,36243,Publish Message [devices-20]
12526,39246,807.060753,130.185.238.170,192.168.15.8,MQTT,70,1883,200,36243,Publish Ack (id=200)
12527,39279,808.751297,192.168.15.8,130.185.238.170,MQTT,339,36243,201,1883,Publish Message (id=201) [devices-20]
12528,39280,808.832865,130.185.238.170,192.168.15.8,MQTT,337,1883,NaN,36243,Publish Message [devices-20]
12529,39282,808.913772,130.185.238.170,192.168.15.8,MQTT,70,1883,201,36243,Publish Ack (id=201)

In [31]:
#  - Separar publicações e confirmação de entrega por dispositivo simulado.
devices = {}
#  : devices será um dicionario que irá ter uma chave referente ao device e o valor será um dataframe referente aos respectivos devices 
for port in ports:  
  data = data.loc[ ~(data["Message Identifier"] == "1,2")]
  # data["Message Identifier"].dropna(replace=True)
  array_publish = data.loc[data["Source Port"] == port].dropna(subset=['Message Identifier'])
  array_publish_ack = data.loc[data["Destination Port"] == port].dropna(subset=['Message Identifier'])
  device = {"publish":array_publish, "publish_ack" : array_publish_ack}
  devices[port] = device

In [33]:
ports = ports[4:]

In [34]:
# - Criação de um dataframe com informações capturadas acima. 
data = {}
for port in ports:
    RTT = pd.DataFrame(columns=["Time_publish", "Time_ack"])
    for index, row in devices[port]["publish"].iterrows():
        id = int(row["Message Identifier"])
        time_publish = row["Time"]
        RTT.loc[id, "Time_publish"] = time_publish 

    for index, row in devices[port]["publish_ack"].iterrows():
        id = int(row["Message Identifier"])
        time_publish = row["Time"]
        RTT.loc[id, "Time_ack"] = time_publish
    RTT.loc[id, "Time_ack"] = time_publish
    RTT["RTT"]  =(RTT["Time_ack"] - RTT["Time_publish"] )* 1000
    data[port] = RTT

## Medidas de Tendência Central Por Device

In [35]:
i=1
data_mean = []
data_median = []
data_std = []
data_min = []
data_max = []

for port in ports:
  data_mean.append(data[port]["RTT"].mean())
  data_median.append(data[port]["RTT"].mean())
  data_std.append(data[port]["RTT"].mean())
  data_min.append(data[port]["RTT"].mean())
  data_max.append(data[port]["RTT"].mean())

  print("(Device-{})Mean Round Trip Time = {}".format(i ,data[port]["RTT"].mean()))
  print("(Device-{})Median Round Trip Time = {}".format(i ,data[port]["RTT"].median()))
  print("(Device-{})Standard deviation  Round Trip Time = {}".format(i ,data[port]["RTT"].std()))
  print("(Device-{})Min Round Trip Time = {}".format(i ,data[port]["RTT"].min()))
  print("(Device-{})Max Round Trip Time = {}".format(i ,data[port]["RTT"].max()))
  print("---------------------------------------------------------------")

  i+=1

(Device-1)Mean Round Trip Time = 160.62158335678188
(Device-1)Median Round Trip Time = 160.5526889999993
(Device-1)Standard deviation  Round Trip Time = 1.3904669951221205
(Device-1)Min Round Trip Time = 158.09481899998445
(Device-1)Max Round Trip Time = 166.39867099999606
---------------------------------------------------------------
(Device-2)Mean Round Trip Time = 153.3549716532735
(Device-2)Median Round Trip Time = 152.5987629999861
(Device-2)Standard deviation  Round Trip Time = 6.134321095027122
(Device-2)Min Round Trip Time = 150.27907500001447
(Device-2)Max Round Trip Time = 228.669463000017
---------------------------------------------------------------
(Device-3)Mean Round Trip Time = 154.12984488944892
(Device-3)Median Round Trip Time = 153.92628500001138
(Device-3)Standard deviation  Round Trip Time = 2.410270883053983
(Device-3)Min Round Trip Time = 151.51224800001728
(Device-3)Max Round Trip Time = 178.09660500000746
---------------------------------------------------------------
(Device-4)Mean Round Trip Time = 161.96446025125744
(Device-4)Median Round Trip Time = 161.45363300006466
(Device-4)Standard deviation  Round Trip Time = 5.108807667355125
(Device-4)Min Round Trip Time = 159.0286800000058
(Device-4)Max Round Trip Time = 219.89379100000406
---------------------------------------------------------------
(Device-5)Mean Round Trip Time = 162.42577247236383
(Device-5)Median Round Trip Time = 161.99465900001542
(Device-5)Standard deviation  Round Trip Time = 4.177603374624868
(Device-5)Min Round Trip Time = 159.4916669999975
(Device-5)Max Round Trip Time = 203.71705600001633
---------------------------------------------------------------
(Device-6)Mean Round Trip Time = 154.60650631658183
(Device-6)Median Round Trip Time = 153.73611200000425
(Device-6)Standard deviation  Round Trip Time = 6.620336698777426
(Device-6)Min Round Trip Time = 151.1970070000075
(Device-6)Max Round Trip Time = 211.28680300000724
---------------------------------------------------------------
(Device-7)Mean Round Trip Time = 158.2471280653241
(Device-7)Median Round Trip Time = 158.2365670000172
(Device-7)Standard deviation  Round Trip Time = 1.713480055813277
(Device-7)Min Round Trip Time = 152.24025400002006
(Device-7)Max Round Trip Time = 169.68154099998856
---------------------------------------------------------------
(Device-8)Mean Round Trip Time = 152.66032157286728
(Device-8)Median Round Trip Time = 151.9888440000159
(Device-8)Standard deviation  Round Trip Time = 5.615287203984381
(Device-8)Min Round Trip Time = 149.7249760000159
(Device-8)Max Round Trip Time = 210.34648200009087
---------------------------------------------------------------
(Device-9)Mean Round Trip Time = 154.23548040703773
(Device-9)Median Round Trip Time = 153.73585899999398
(Device-9)Standard deviation  Round Trip Time = 3.9775499219910753
(Device-9)Min Round Trip Time = 151.43327900000259
(Device-9)Max Round Trip Time = 203.11889800001381
---------------------------------------------------------------
(Device-10)Mean Round Trip Time = 159.93501923618058
(Device-10)Median Round Trip Time = 159.51895599999943
(Device-10)Standard deviation  Round Trip Time = 3.512485393737762
(Device-10)Min Round Trip Time = 157.48737000001256
(Device-10)Max Round Trip Time = 205.275376999964
---------------------------------------------------------------
(Device-11)Mean Round Trip Time = 146.47324707034906
(Device-11)Median Round Trip Time = 145.9557020000375
(Device-11)Standard deviation  Round Trip Time = 4.566623606889938
(Device-11)Min Round Trip Time = 143.50695999996788
(Device-11)Max Round Trip Time = 203.89858199999367
---------------------------------------------------------------
(Device-12)Mean Round Trip Time = 161.25378593969802
(Device-12)Median Round Trip Time = 161.18224299998474
(Device-12)Standard deviation  Round Trip Time = 1.4876157575018734
(Device-12)Min Round Trip Time = 158.59043399996153
(Device-12)Max Round Trip Time = 166.45453999990423
---------------------------------------------------------------
(Device-13)Mean Round Trip Time = 153.84778638190718
(Device-13)Median Round Trip Time = 153.36082900000747
(Device-13)Standard deviation  Round Trip Time = 5.082506775458041
(Device-13)Min Round Trip Time = 150.69710400001668
(Device-13)Max Round Trip Time = 221.59253600000284
---------------------------------------------------------------
(Device-14)Mean Round Trip Time = 162.57780021105566
(Device-14)Median Round Trip Time = 161.56740700000682
(Device-14)Standard deviation  Round Trip Time = 7.546995497842825
(Device-14)Min Round Trip Time = 158.96551599996656
(Device-14)Max Round Trip Time = 235.29817700000422
---------------------------------------------------------------
(Device-15)Mean Round Trip Time = 153.220151643215
(Device-15)Median Round Trip Time = 152.53112100000976
(Device-15)Standard deviation  Round Trip Time = 5.317502648945957
(Device-15)Min Round Trip Time = 150.4812539999989
(Device-15)Max Round Trip Time = 204.5098689999918
---------------------------------------------------------------
(Device-16)Mean Round Trip Time = 162.16719790451845
(Device-16)Median Round Trip Time = 161.56998300004943
(Device-16)Standard deviation  Round Trip Time = 4.980421558365007
(Device-16)Min Round Trip Time = 159.35187299999143
(Device-16)Max Round Trip Time = 213.56426599993483
---------------------------------------------------------------
(Device-17)Mean Round Trip Time = 161.8487239447253
(Device-17)Median Round Trip Time = 161.21077399998285
(Device-17)Standard deviation  Round Trip Time = 6.861313988662176
(Device-17)Min Round Trip Time = 158.9396630000124
(Device-17)Max Round Trip Time = 239.08376200000703
---------------------------------------------------------------

# CÁLCULO DO TAMANHO DA AMOSTRA

In [36]:
nivel_de_significancia = 0.05

In [37]:
nivel_de_confiança = 1 - nivel_de_significancia
nivel_de_confiança

0.95

In [38]:
#Calculando o z com scipy
z = scipy.stats.norm.ppf(0.975)
z

1.959963984540054

Com nosso z calculado podemos seguir adiante

### $$z = 1.959963984540054 $$

Abaixo segue algumas formulas que iremos utilizar para calcular o numero de amostra

## $$n = \left(z\frac{s}{e}\right)^2$$


$$e = \left(e *  \right)^2$$



Onde:

$z$ = variável normal padronizada

$s$ = desvio padrão amostral

$e$ = erro inferencial


### Calculando a desvio padrão $s$

In [39]:
desvio_padrao_amostral = RTT["RTT"].std()
desvio_padrao_amostral

6.861313988662176

### Calculando o Erro

In [40]:
media = RTT["RTT"][:-2].mean()
e = 0.05 * media
e

8.092436197236266

### Calculando o tamanho da nossa amostra

In [41]:
n = (z * (desvio_padrao_amostral/e))**2
n

2.7615454932661554

In [42]:
n = (z * (desvio_padrao_amostral/e))**2

In [43]:
n

2.7615454932661554

In [44]:
RTT

    Time_publish    Time_ack         RTT
3      70.643735   70.804083  160.347901
4      71.929164   72.088366  159.202127
5      77.670833   77.832287  161.454324
6      81.607962   81.768448  160.485441
7      87.377795   87.540471  162.676809
..           ...         ...         ...
199   804.888811  805.048706  159.894969
200   806.901585  807.060753  159.167981
201   808.751297  808.913772  162.475219
1            NaN   65.093033         NaN
2            NaN   65.172018         NaN

[201 rows x 3 columns]

In [ ]:
data[37665][:-2]

    Time_publish     Time_ack         RTT
3    2307.359166  2307.518452  159.286203
4    2312.077159  2312.238383  161.224181
5    2317.926067   2318.08651  160.443781
6    2323.049268   2323.21055  161.281924
7    2326.961367  2327.122621  161.253469
..           ...          ...         ...
197  3040.939875  3041.100178  160.302985
198  3042.448657   3042.60658  157.922825
199  3047.067165  3047.226274  159.109616
200  3052.704503  3052.862299  157.796541
201  3056.850746  3057.009593  158.847402

[199 rows x 3 columns]